<main class="container">
  <h1>Commander</h1>

  <div class="row">
    <div class="col-md-4">
      <img class="img-fluid" style="max-height: 450px" src="assets/restaurant.jpg">
    </div>
    <div class="col-md-5 embed-responsive embed-responsive-4by3">
      <iframe allowfullscreen=""
            class="embed-responsive-item"
            frameborder="0" height="450"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2631.898969474348!2d-3.4624077849722075!3d48.72652211793763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48122bc3e1770519%3A0x56a8aa173bb9b121!2sBraiz+Pizza!5e0!3m2!1sfr!2sfr!4v1542668871015" style="border:0" width="600">
      </iframe>
    </div>
    <app-schedule class="col-md-3"></app-schedule>
  </div>
</main>
