<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img src="assets/braiz_logo.png">
      Braiz Pizza
    </a>

    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link text-danger nav-text" routerLink="/pizzas">
                  Pizzas <i class="fa fa-pizza-slice"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-warning nav-text" routerLink="/commander">
                Commander <i class="fa fa-phone"></i>
                </a>
            </li>
        </ul>
    </div>

    <ul class="navbar-nav ml-auto" style="flex-direction: row;">
          <li class="nav-item active">
            <a target="blank" class="nav-link" title="Facebook"
                href="https://www.facebook.com/braizpizza/">
              <i class="fab fa-facebook-square"></i>
            </a>
          </li>
          <li class="nav-item active">
            <a target="blank" class="nav-link" title="TripAdvisor"
                href="https://www.tripadvisor.fr/Restaurant_Review-g608761-d7910182-Reviews-BRAIZ_PIZZA-Lannion_Cotes_d_Armor_Brittany.html">
              <i class="fab fa-tripadvisor"></i>
            </a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" data-toggle="modal" data-target="#cart-popup">
                <i class="fa fa-shopping-cart"></i>
                <i class="badge badge-danger">{{cart.summary.count}}</i>
              </a>
          </li>
      </ul>

    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
      </button>
</nav>
